
.vs/RestaurantProper/v16/.suo
RestaurantWeb/bin/RestaurantWeb.dll
RestaurantWeb/bin/RestaurantWeb.pdb
RestaurantWeb/bin/roslyn/Microsoft.CodeAnalysis.CSharp.dll
RestaurantWeb/bin/roslyn/Microsoft.CodeAnalysis.dll
RestaurantWeb/bin/roslyn/Microsoft.CodeAnalysis.VisualBasic.dll
RestaurantWeb/bin/roslyn/System.Collections.Immutable.dll
RestaurantWeb/bin/roslyn/System.Reflection.Metadata.dll
RestaurantWeb/bin/roslyn/VBCSCompiler.exe
RestaurantWeb/obj/Debug/RestaurantWeb.csproj.AssemblyReference.cache
RestaurantWeb/obj/Debug/RestaurantWeb.csproj.FileListAbsolute.txt
RestaurantWeb/obj/Debug/RestaurantWeb.dll
RestaurantWeb/obj/Debug/RestaurantWeb.pdb
.vs/RestaurantProper/v16/.suo
RestaurantWeb/bin/RestaurantWeb.dll
RestaurantWeb/bin/RestaurantWeb.pdb
RestaurantWeb/bin/roslyn/Microsoft.CodeAnalysis.CSharp.dll
RestaurantWeb/bin/roslyn/Microsoft.CodeAnalysis.dll
RestaurantWeb/bin/roslyn/Microsoft.CodeAnalysis.VisualBasic.dll
RestaurantWeb/bin/roslyn/System.Collections.Immutable.dll
RestaurantWeb/bin/roslyn/System.Reflection.Metadata.dll
RestaurantWeb/bin/roslyn/VBCSCompiler.exe
RestaurantWeb/obj/Debug/RestaurantWeb.csproj.AssemblyReference.cache
RestaurantWeb/obj/Debug/RestaurantWeb.csproj.FileListAbsolute.txt
RestaurantWeb/obj/Debug/RestaurantWeb.dll
RestaurantWeb/obj/Debug/RestaurantWeb.pdb
