@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Limesstraße 1<br />
    85055 Ingolstadt<br />
    <abbr title="Telefon">FON:</abbr>
    +4915226851301
</address>

<address>
    <strong>Kontakt:</strong>   <a href="mailto:vig4889@thi.de">vig4889@thi.de</a><br />
    </address>