@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Gaststätte Götz</h1>
    <p class="lead">Web-App zum Handling von Bestellungen. Gebaut mit MVC.</p>
    <p><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
